#remove html file extension https://analogueitsolutions.com/about.html
# to https://analogueitsolutions.com/about
RewriteEngine on 
RewriteCond %{Request_FILENAME} !-d
RewriteCond %{Request_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC, L]

#remove html file extension https://analogueitsolutions.com/uxuidevelopment.html
# to https://analogueitsolutions.com/uxuidevelopment
RewriteEngine on 
RewriteCond %{Request_FILENAME} !-d
RewriteCond %{Request_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC, L]

#remove html file extension https://analogueitsolutions.com/webdevelopment.html
# to https://analogueitsolutions.com/webdevelopment
RewriteEngine on 
RewriteCond %{Request_FILENAME} !-d
RewriteCond %{Request_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC, L]

#remove html file extension https://analogueitsolutions.com/webdevelopment.html
# to https://analogueitsolutions.com/webdevelopment
RewriteEngine on 
RewriteCond %{Request_FILENAME} !-d
RewriteCond %{Request_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC, L]

#remove html file extension https://analogueitsolutions.com/webdevelopment.html
# to https://analogueitsolutions.com/webdevelopment
RewriteEngine on 
RewriteCond %{Request_FILENAME} !-d
RewriteCond %{Request_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC, L]


#remove html file extension https://analogueitsolutions.com/blog.html
# to https://analogueitsolutions.com/blog
RewriteEngine on 
RewriteCond %{Request_FILENAME} !-d
RewriteCond %{Request_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC, L]

